*{
    padding: 0;
    margin: 0;
    font-family: 'Inter', sans-serif;
}

.nav-logo{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 20px;
}
.navigation ul{
    display: flex;
    justify-content: space-between;
    list-style: none;
    gap: 30px;
}
.navigation ul a{
    text-decoration: none;
    color: black;
    
}
.nav-buttons{
    background-color: rgb(8, 8, 221);
    padding: 10px 25px;
    border-radius: 5px;
    color: white;
    border: none;
    font-weight: normal;
}
.back-img{
    background-image: url('./images/banner.jpg');
    height: 600px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border: none;

    
}

.header-head h1{
    color: rgb(250, 250, 250);
    font-size: 50px;
    padding-top: 60px; padding-bottom: 10px;
    text-align: center;
}
.header-head p{
    color: rgb(161, 154, 154);
    width: 500px;
    text-align: center;
    margin: auto;
}
.header-button{
    background-color: rgb(8, 8, 221);
    padding: 10px 25px;
    border-radius: 5px;
    color: white;
    border: none;
    font-weight: normal;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 280px;
}
.Speaker-head{
    text-align: center;
    margin-top: 20px;
    padding: 60px;
}
.speaker-parents{
    display: grid;
    grid-template-columns:repeat(2, 1fr);
    align-items: center;
    margin: 60px;
    gap: 50px;
}
.speaker-parents img{
    width: 100%;
    border-radius: 10px 10px 0 0;
}
.pic-card{
    border: 1px solid rgb(245, 235, 235);
    padding-bottom: 20px;
    border-radius: 10px;
}
.specificity{
    color: blue;
    font-size: 12px;
    margin: 10px 0 0 10px;
    padding-bottom: 2px;
}
.speaker-parents h3{
    margin: 0 0 0 8px;    
}
 .depertment{
    color: rgb(148, 144, 144);
    margin-left: 8px;
    padding-top: 3px;
    font-size: 15px;
 }
 .card-head{
    text-align: center;
    padding: 30px;
    margin-top: 10px;
 }
.card-head p{
    font-size: 11px;
    padding: 8px;
    color: rgb(107, 103, 103);
}
.card-parent{
    display: flex;
    justify-content: space-between;
    
    margin: 20px 180px;
    padding: 0 30px;
    
}
.card-main .price h6{
    color: blue;
    font-weight: normal;
}
.card-main .price h1{
    color: whitesmoke;
}
.card-main .price p{
    color: rgb(151, 150, 150);
    font-size: 12px;
}
.card-one .price{
    margin: 20px 0px;
}
.card-one .price h6{
    color:rgb(65, 62, 62) ;
    font-weight: normal;
}
.card-one .price p{
    font-size: 12px;
    color:rgb(65, 62, 62) ;

}
.last-card .price h6{
    color:rgb(65, 62, 62) ;
    font-weight: normal;
}
.last-card .price p{
    font-size: 12px;
    color:rgb(65, 62, 62) ;
}
.card-main .price{
        margin: 20px 0px;

}

.last-card{
        margin-left: 30px;
}
.last-card .price{
        margin: 20px 0px;

}
.card-one ul li{
    width: 250px;
    font-size: 12px;
    padding: 5px;
}
.card-main ul li{
    width: 250px;
    font-size: 12px;
    padding: 5px;
    color: rgb(143, 138, 138);
}
.last-card ul li{
    width: 250px;
    font-size: 12px;
    padding: 5px;
}
.card-main{
    background-color: rgb(1, 1, 12);
    border-radius: 10px;
    padding: 0 40px 40px 40px;
    width: 220px;
}
.divider{
    border: none;
    border-top: 1px solid rgb(197, 193, 193);
    padding: 15px;
}
.card-button{
    padding: 8px 60px;
    margin-top: 30px;
    align-items: center;
    border-radius: 8px;
}
.highlight{
    padding: 10px 80px;
    color:rgb(255, 255, 255) ;
    text-align: center;
    background-color: blue;
    border: none;
}
.standard{
    color: blue;
    border:1px solid blue;
}
.team{
    color: rgb(34, 33, 33);
    border: 1px solid rgb(31, 30, 30);
}